body {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $primary-fonts;
  scroll-behavior: smooth;
}
ul,
a,
textarea,
input {
  padding: 0;
  margin: 0;
  font-family: $primary-fonts;
  color: $default-color;
  list-style: none;
  transition: 300ms;
  outline: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
button {
  cursor: pointer;
  transition: 300ms ease-in;
  outline: none;
}
.App {
  display: grid;
  grid-template-areas: "header" "middle" "main" "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}
header {
  grid-area: header;
}
.middle {
  grid-area: middle;
}
main {
  grid-area: "main";
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}
footer {
  grid-area: footer;
}
.page-size {
  margin: auto;
  width: 1280px;
  // min-width: 100%;
  max-width: 1280px;
}
.flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.line-v {
  display: block;
  width: 1px;
  height: 100px;
  background: $vertical-line;
  &.h-20 {
    height: 20px;
  }
  &.h-40 {
    height: 40px;
  }
  &.h-50 {
    height: 50px;
  }
}
.line-h {
  display: block;
  width: 100px;
  height: 1px;
  background: $vertical-line;
  &.h-20 {
    height: 20px;
  }
  &.h-40 {
    height: 40px;
  }
  &.h-50 {
    height: 50px;
  }
}
.flex-h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.badge {
  background: $success;
  padding: 2px 15px;
  font-size: 13px;
  display: inline-block;
  color: white;
}

.badge-round {
  padding: 3px 25px;
  border-radius: 20px;
  font-size: 14px;
}
.breadcrumb{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background: rgba(244, 67, 54, 0.14);
  padding: 7px 18px;
  border-radius: 36px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  & a{
    margin-left: 0 10px;
    display: flex;
    align-items: center;
    color: black !important;
    & svg{
      margin: 0 10px;
    }
    &:hover{
      color: $primary-color !important;
    }
  }
  color: black;
}
::-webkit-scrollbar{
  width: 6px;
  height: 3px;
  background-color: #000000;
}
::-webkit-scrollbar-thumb{
  background-color: #ff00a2;
}
.search-loading{
  width: 100%;
  height: 47px;
  position: relative;
  overflow: hidden;
  background: #0000000d;
  border-radius: 35px;
  margin: 6px 0;
  &.l20{
    width: 20%;
  } 
  &.h20{
    height: 20px;
  }
  &.h30{
    height: 30px;
  }
  &.h10{
    height: 10px;
  }
  &.l40{
    width: 40%;
  } 
  &.l60{
    width: 60%;
  } 
  &.l80{
    width: 80%;
  } 
  &::after{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #00000000, #00000021, #ffffff00);
    animation: srchLoading 1300ms ease-in-out infinite forwards;
    @keyframes srchLoading {
      0%{
        transform: translateX(-100%);
      }
      50%{

      }
      100%{
        transform: translateX(150%);
        
      }
    }
  }
}
.message-box{
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: #a1ff00;
  align-items: center;
  z-index: 12;
  left: 0;
  right: 0;
  width: 497px;
  margin: auto;
  padding: 2px 10px;
  border-radius: 3px;
  color: black;
  bottom: 59px;
  & .filler{
    position: absolute;
    top: 0px;
    left: 0;
    width: 0%;
    height: 3px;
    background: #0000008c;
    animation: close_modal_time linear forwards 1;
    left: 0;
    border-radius: 3px;
    @keyframes close_modal_time{
      0%{
        width: 0%;
      }
      100%{
        width: 100%;
      }

    }
  }
  & .a938237502{
    display: flex;
    align-items: center;
  }
  & .alert-392{
    margin: 0 10px 0 0;
    width: 22px;
    display: block;
  }
  & .check-29838{
    background: #447e12;
    fill: #a1ff00;
    width: 14px;
    height: 14px;
    padding: 7px;
    border: 1px solid #00000087;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
  &.alert{
    background: #ffdd00;
  }
  &.error{
    background: #ff9200;
  }
    & svg{
      width: 16px;
    }
  & span{
    font-family: $secondary-fonts;
    font-size: 14px;
    font-weight: 500;
    &.close{
      font-size: 26px;
      padding: 5px 9px;
      cursor: pointer;
      &:hover{
        color: rgb(255, 255, 255)
      }
    }
  }
}
.error-text, .success-text{
  color: #ff3c3c;
  font-weight: bold;
  font-size: 15px !important;
}
.success-text{
  color: #00ff40;
}
.to-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-box{
  border: 1px solid #ffc5b3;
  padding: 6px 11px;
  border-radius: 3px;
  background: #ffeaf1;
  color: black;
}
.success-box{
  border: 1px solid #9cffa6;
  padding: 6px 11px;
  border-radius: 3px;
  background: #9cffa6;
  color: black;
}
.loading-spinner{
  position: relative;
  &::before{
    content: '';
    content: "";
    width: 23px;
    height: 23px;
    display: block;
    border-radius: 50%;
    border: 3px solid #00000026;
    border-bottom-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s linear forwards infinite;
    @keyframes spin {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
  }
}