.middle-view{
  height: 88vh;
  min-height: 768px;
  background: #161523;
  max-height: 1000px;
  position: relative;
  & .middle-bg{
    width: 100%;
    height: 100%;
    & .page-size{
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
  }
  & .ap9xs{
    position: absolute;
    top: 21%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    & div{
    padding-left: 46px;
    }
   & h1{
    margin-bottom: 10px;
    font-weight: bold;
    font-style: oblique;
    text-transform: capitalize;
    letter-spacing: 16px;
   }
   & h4{
    line-height: 1.2;
   }
  }
}
.ap9xs{
  z-index: 1;
  font-family: $secondary-fonts;
  & button{
    font-family: $primary-fonts;
    width: 264px;
    height: 48px;
    margin-top: 55px;
    margin-right: 12px;
    background: black;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    &.reverse-3kxa{
      background-color: #fd00c5 !important;
      color: white;
      border-color: #ff0057;
      border-radius: 35px;
    }
    &:hover{
      background-color: #fff6fd !important;
      color: black;
      border-color: #000000;
    }
  }
  & h1{
    font-weight: 100;
    font-size: 78px;
    text-transform: uppercase;
    color: #e91e63;
  }
  & h4{
    font-size: 42px;
    font-weight: 300;
    color: #ffc500;
    font-style: oblique;
  }
}
.blue-ii1sx{
  position: relative;
  margin: 0;
  margin-top: -182px;
  & .search-input{
    
    width: 493px;
    background: rgb(255 255 255);
    margin: auto;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 4px;
    margin: 69px auto 0 auto;
    & input{
      z-index: 5;
      background: none;
      width: 85%;
      height: 100%;
      border: none;
      padding: 0 14px;
      border-right:1px solid #0000004d;
      font-family: $secondary-fonts;
      font-weight: 300;
      color: rgb(0, 0, 0);
      font-size: 18px;
      &::placeholder{
        font-weight: 500;
      }
    }
    & svg{
    text-align: center;
    fill: rgb(137 0 255);
    width: 14%;
    height: 68%;
    }
  }
 
}
.search-result
{
  z-index: 5;
  box-shadow: $box-shadow;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  width: 75%;
  margin: auto;
  margin-top: 9px;
  border-radius: 7px;
  padding: 15px;
  max-width: 1040px;

  & .flex{
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 0px 0 20px 0;
    & button{
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      color: #ff0088;
      border: none;
      &:hover{
        color: #040404;
      }
    }
    & h4{
      font-size: 28px;
    }
  }
  & section{
    margin-bottom: 30px;
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
   
    &.categories-sec{
      align-items: center;
    }
    & a{
      cursor: pointer;
      width: 120px;
      margin: 11px auto;
      padding: 13px 5px;
      border-top: 1px solid transparent;
      &:hover  img, &:hover span{
        filter: saturate(1.8);
        color: rgb(255, 0, 106);
      }
      & span{
        font-weight: 300;
        color: black;
        display: block;
        text-align: center;
        transition: 400ms;
      }
      
      & img{
        transition: 400ms;
        width: 82%;
      }
    }
  }
  & h2{
    color: #565656;
    text-align: left;
    font-size: 20px;
    font-family: $primary-fonts;
    border-bottom: 1px solid #e7e6e6;
    padding: 0;
    width: 237px;
    margin: 0 10px 10px 0;
  }
  
}
.phones-uw3kxz{
  & .search-input{
    background:rgb(0 0 0 / 80%);
    border-color: black;
    margin-top: 12px;
    &:hover{
      border-color: #219425;
    }
  }
}
.filter-sec{
  & .blue-ii1sx{
    margin: 0;
  }
  & .search-input{
    margin: 0;
    & input{
      color: white;
    }
  }

}
.svg-circles{
  width: 36%;
  position: absolute;
  top: 124px;
  left: 222px;
  transform: rotate(17deg);
  bottom: 0;
  margin: auto;
  & circle{
    fill: #00e7ff2e;
  }
}