.middle-view{
  height: 60vh;
  background: blue;
  & .middle-bg{
    height: 100%;
    position: relative;
  & img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  & div{
    background: linear-gradient(90deg, #000000bd, #00000075, #000000bd);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
  }
  & .ap9xs{
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
}
.ap9xs{
  font-family: $secondary-fonts;
  & h1{
    font-weight: 100;
    font-size: 60px;
    text-transform: uppercase;
  }
  & h3{
    font-size: 50px;
    font-weight: 100;
  }
  & h4{
    font-size: 35px;
    font-weight: 100;
  }
}
.blue-ii1sx{
  z-index: 1;
  position: relative;
  & .search-input{
    width: 600px;
    background: rgba(0, 0, 0, 0.6);
    margin: auto;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #ffffff96;
    border-radius: 4px;
    margin: 53px auto 0 auto;
    transition: 300ms;
    
    &:hover{
      border-color: white;
    }
    & input{
      background: none;
      width: 85%;
      height: 100%;
      border: none;
      padding: 0 14px;
      border-right: 1px solid #ffffff96;
      font-family: $secondary-fonts;
      font-weight: 300;
      color: white;
      font-size: 18px;
      &::placeholder{
        font-weight: 500;
      }
    }
    & svg{
      font-size: 19px;
      text-align: center;
      fill: #ffffff96;
      width: 14%;
      height: 76%;
    }
  }
 
}
.search-result
{
  box-shadow: $box-shadow;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  width: 700px;
  margin: auto;
  margin-top: 9px;
  border-radius: 7px;
  padding: 15px;

  & .flex{
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 0px 0 20px 0;
    & button{
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      color: #ff0088;
      border: none;
      &:hover{
        color: #040404;
      }
    }
    & h4{
      font-size: 28px;
    }
  }
  & section{
    margin-bottom: 30px;
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
   
    &.categories-sec{
      align-items: center;
    }
    & a{
      cursor: pointer;
      width: 120px;
      margin: 11px auto;
      padding: 13px 5px;
      border-top: 1px solid transparent;
      &:hover  img, &:hover span{
        filter: saturate(1.8);
        color: rgb(255, 0, 106);
      }
      & span{
        font-weight: 300;
        color: black;
        display: block;
        text-align: center;
        transition: 400ms;
      }
      
      & img{
        transition: 400ms;
        width: 82%;
      }
    }
  }
  & h2{
    color: #565656;
    text-align: left;
    font-size: 20px;
    font-family: $primary-fonts;
    border-bottom: 1px solid #e7e6e6;
    padding: 0;
    width: 237px;
    margin: 0 10px 10px 0;
  }
  
}
.phones-uw3kxz{
  & .search-input{
    background:rgb(0 0 0 / 80%);
    border-color: black;
    margin-top: 12px;
    &:hover{
      border-color: #219425;
    }
  }
}