.reviews-8293{
    color: black;
    margin: 10px 0 0 0;
    background-image: url(/media/assets/ellipses.svg);
    background-size: 65%;
    overflow: hidden;
    & .mobile-title{
        & .line-h{
            background-color: #9cffa647;
        }
    }
    & .rev-2832{
        padding: 0px 10px;
        margin: 10px 190px;
       
    }
    & section{
        margin: 10px 0 17px -11px;
        min-height: 47px;
        border-radius: 6px;
        padding: 16px 14px;
        box-shadow: 1px 1px 9px 0px #0000002e;
        position: relative;
        background-color: #ffffffe8;
        &::before{
            content: " ";
            border-left: 2px solid #08c9ff;
            position: absolute;
            height: 100%;
            width: 2px;
            left: -8px;
            top: 43px;
        }
        &.no-trail::before{
            content: none;
        }
    }
    & .profile{
        background: #08c9ff;
        color: white;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
        margin-left: -41px;
        margin-right: 10px;
        letter-spacing: 1px;
        z-index: 1;
        border: 1px solid #00000030;
    }
    & .a92wqi{
        margin-left: 5px;
        margin-top: -56px;
        & p{
            font-weight: bold;
            font-size: 17px;
            color: #08c9ff;
            padding: 9px 0;
            margin: 0;
        }
        & .a-23{
            font-size: 14px;
            font-weight: bold;
            color: #000000ab;
        }
        & .a-382983{
            font-size: 14px;
            margin-left: 5px;
            font-weight: bold;
            & svg{
                font-size: 14px;
                margin-bottom: -2px;
                margin-left: 0px;
                color: #6e6e6e;
            }
        }
        & .s-end83{
            display: flex;
            align-items: center;
            height: 21px;
            margin-bottom: 4px;
        }
        & h5{
            padding: 10px;
            & b{
                color: #e91e63;
            }
        }
        & .cmnt-note{
            max-width: 545px;
            display: block;
            margin: 3px 12px;
            font-size: 12px;
          
        }
    }
    & .pro-987{
        & svg{
            margin-top: 4px;
        }
    }
}
.a8j3c{
    overflow: hidden;
}